.button-theme {
    background: #043C86;
}

.button-theme:hover {
    background: #F1CA2C;
}

.setting-button{
    color: #043C86;
}

.search-area-3 .ssa{
    background: #043C86;
}

.comon-slick .slick-prev{
    color: #043C86;
}

.comon-slick .csi2 .slick-prev {
    color: #043C86;
}


#full-page-search .close {
    background: #043C86;
}

.comon-slick .slick-prev:hover{
    background: #043C86;
    color: #fff;
}

.banner .tab-btn .nav-item .nav-link.active {
    background: #043C86;
}

.comon-slick .slick-next{
    color: #043C86;
}

.comon-slick .slick-next:hover{
    background: #043C86;
    color: #fff;
}

.login-section .info h1 span {
    color: #043C86;
}

.search-options-icon .accordion-button{
    background: #043C86;
}

.login-section .form-section .btn-theme:hover {
    background: #F1CA2C;
}

.login-section .form-section .btn-theme {
    background: #043C86;
}

.subscribe-box-2 .form-inline .btn{
    background: #043C86;
}

.compare-properties h3 a:hover{
    color: #043C86;
}

.search-options-btn i{
    background: #043C86;
}

.manage-table .title-container h5 a:hover{
    color: #043C86;
}

.manage-table .title-container h6 span{
    color: #043C86;
}

.contact-2 .contact-info i {
    color: #043C86;
}

.search-options-btn i:hover{
    background: #F1CA2C;
}

.our-newslatters-2 .form-inline .btn{
    background: #043C86;
}

.our-newslatters-2 .form-inline .btn:hover{
    background: #F1CA2C;
}

.subscribe-box-2 .form-inline .btn:hover{
    background: #F1CA2C;
}

.intro-text .icon i{
    color: #043C86;
}

.counters-3 .heading p{
    color: #043C86;
}

.rating-area .average-rating h1{
    color: #043C86;
}

#page_scroller {
    background: #043C86;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #043C86;
}

input[type=checkbox]:checked + label:before {
    color: #043C86;
}

.main-title p {
    color: #043C86;
}

.main-title-2 p {
    color: #043C86;
}

.blog-3 h3 a:hover{
    color: #043C86;
}

.subscribe-box-2 .form-inline .btn{
    background: #043C86;
}

.blog-3:hover .date{
    background:  #043C86;
}

.blog-3 .date h2 {
    color: #043C86;
}

.blog-4 h1{
    color: #043C86;
}

.blog-4:hover .date{
    background:  #043C86;
}

.blog-3 .read-more-btn:hover {
    background: #043C86;
    color: #fff;
}

.testimonial-4 .testimonial-info .carousel-indicators .active {
    background: #043C86;
}

.blog-4 h3 a:hover{
    color: #043C86;
}

.testimonial-2 .main-title p {
    color: #043C86!important;
}

.banner-bg-color{
    background: #043C86;
}

.btn-theme{
    background: #043C86;
    border: solid 1px #043C86;
}

.btn-theme:hover{
    background: #F1CA2C;
    border: solid 1px #F1CA2C;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #043C86;
    border: solid 2px #043C86;
}

.btn-white-sm-outline:hover {
    color: #FFF;
    background: #043C86;
    border: solid 2px #043C86 !important;
}

.properties-amenities ul li i {
    color: #043C86
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #043C86;
}

.list-group-item.active {
    background-color: #043C86;
    border-color: #043C86;
}

.pricing-3::before {
    background: #043C86;
}

.pricing-1:hover .plan-header h5 {
    color: #043C86;
}

.service-info-3 h3 a:hover{
    color: #043C86;
}

.pricing-1:hover .btn-outline {
    border: solid 1px #043C86;
    background: #043C86;
    color: #fff;
}

.our-newslatters-3 .contact-us-today:hover{
    color: #043C86;
}

.pricing-1:hover .plan-list ul li i{
    color: #043C86;
}

.pricing-1:hover .plan-header .plan-price {
    color: #043C86;
}

.pricing-3:hover .button-theme {
    color: #043C86!important;
}

.pricing-3 .btn-outline:hover {
    color: #043C86;
}

.login-section .form-section .checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #043C86;
    border-color: #043C86;
}

.pricing-2 .d2{
    color: #043C86;
}

.pricing-3.popular .dolar{
    color: #043C86;
}

.properties-condition ul li i {
    color: #043C86;
}

#sidebar #dismiss {
    color: #043C86;
}

#sidebar .sidebar-navigation .active {
    color: #043C86;
}

#sidebar .sidebar-navigation ul li a:hover {
    color: #043C86!important;
}

.get-in-touch-box:hover i {
    color: #043C86!important;
}

.border-button-theme {
    color: #043C86;
    border: 2px solid #043C86;
}

.map-properties-btns .border-button-theme:hover {
    background: #043C86;
    color: #fff !important;
}

.rightside-navbar li .button {
    color: #043C86 !important;
    border: 2px solid #043C86;
}

.rightside-navbar li .button:hover {
    background: #043C86 !important;
}

.banner-detail-box .red-box {
    background: #043C86 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #043C86;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #043C86;
}

.search-button {
    background: #043C86;
}

.service-info-2 .icon{
    color: #043C86;
}

.service-info-2:hover h3 a{
    color: #043C86;
}

.search-button:hover {
    color: #fff;
    background: #F1CA2C;
}

.service-info-3 .icon{
    color: #043C86;
}

.btn-outline-2 {
    border: solid 2px #043C86;
    color: #043C86;
}

.category-content h3 a:hover{
    color: #043C86;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #043C86;
}

.bootstrap-select .dropdown-menu li a {
    color: #043C86;
}

.property-box:hover .featured{
    color: #043C86!important;
}

.property-box:hover .listing-time {
    color: #043C86;
}

.property-box-4:hover .featured{
    color: #043C86!important;
}

.property-box-4:hover .listing-time {
    color: #043C86;
}

.property-box-4 .facilities-list li i{
    color: #043C86;
}

.property-box-4 .read-more-btn{
    color: #043C86;
}

.property-box-4 .read-more-btn:hover{
    background: #043C86;
    color: #fff;
}

.property-box-2:hover .featured{
    color: #043C86!important;
}

.property-box-2:hover .listing-time {
    color: #043C86;
}

.bootstrap-select .dropdown-menu li a:hover {
    background: #043C86;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #043C86;
}

.property-box .carousel-indicators .active {
    background-color: #043C86;
}

.team-2:hover .team-details h5 a{
    color: #043C86;
}

.blog-2 .detail h3 a:hover{
    color: #043C86;
}

.testimonial-3 .testimonial-inner .content-box .testimonial-info:before {
    background: #043C86;
}

.testimonial-3 .testimonial-inner .content-box .testimonial-info:after {
    background: #043C86;
}

.testimonial-3 .testimonial-info:hover .rating span{
    color: #043C86;
}

blockquote {
    border-left: 5px dashed #043C86;
}

.listing-badges .featured {
    background-color: #043C86;
}

.recent-properties-box .detail header::after {
    background-color: #043C86;
}

.service-info-5::before {
    background-color: #043C86;
}

.service-info-5 .service-i {
    color: #043C86;
}

.slick-arrow-buton:hover {
    background: #043C86;
}

.counters .counter-box i {
    color: #043C86;
}

.slick-arrow-buton {
    color: #043C86;
}

.our-newslatters-3{
    background: #043C86;
}

.counters .counter-box h1 {
    color: #043C86;
}

.counters-2 .counter-box .icon{
    color: #043C86;
}

.counters-3 .counter-box:hover{
    background: #043C86;
}

.counters-3 .counter-box i{
    color: #043C86;
}

.counters-3 .counter-box h1{
    color: #043C86;
}

.counters-2 .counter-box h1{
    color: #043C86;
}

.btn-2 {
    background: #043C86;
    border: solid 2px #043C86;
}

.btn-2:hover {
    color: #043C86;
    border: solid 2px #043C86;
}

.btn-2:before {
    background: #043C86;
}

.btn-3:after{
    background: #043C86;
}

.btn-3{
    color: #043C86;
    border: 2px solid #043C86;
}

.btn-4 {
    background: #043C86;
}

.btn-1{
    color: #043C86;
    border: 2px solid #043C86;
}

.btn-1:before {
    background: #043C86;
    border-color: #043C86;
}

.btn-1 span{
    color: #043C86;
}


.plan2 .plan-header h5{
    color: #043C86;
}

.plan2 .plan-list ul li i{
    color: #043C86;
}

.plan2 .plan-header .plan-price{
    color: #043C86;
}

.listing-time{
    background: #043C86;
}

.price-ratings-box .price{
    color: #043C86;
}

.property-box .detail .title a {
    color: #043C86;
}

.login-section .form-section input[type=checkbox]:checked + label:before {
    background: #043C86;
    border: 1px solid #043C86;
}

.blog-2 .photo .date-box{
    color: #043C86;
}

footer .footer-item .contact-info li label a:hover {
    color: #043C86;
}

.btn-white{
    color: #043C86;
}

.btn-white:hover{
    color: #fff;
    background: #043C86;
}

.service-box .heading .number h5 {
    color: #043C86;
}

.service-box .heading .title h4 a:hover {
    color: #043C86;
}

.plan .price-header h1 {
    color: #043C86;
}

.btn-outline {
    border: solid 1px #043C86;
    color: #043C86;
}

.btn-outline:hover {
    border: solid 1px #043C86;
    background: #043C86;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #043C86;
    color: #043C86;
    font-weight: 600;
}

.team-5 p i{
    color: #043C86;
}

.heading-properties h3 span {
      color: #043C86;
}

.heading-properties-2 h3 span {
    color: #043C86;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #043C86;
}

.btn-outline-2:hover {
    border: solid 2px #043C86;
    background: #043C86;
    color: #fff;
}

.map-properties .map-properties-fetures span i{
    color: #043C86;
}

.property-box-4 .info ul li i{
    color: #043C86;
}

.property-box-4 .info h3 a:hover{
    color: #043C86;
}

.testimonial-2 .carousel-indicators .active {
    background-color: #043C86;
}

.property-box-5 .detail h3 a{
    color: #043C86;
}

.about-box .detail h3 {
    color: #043C86;
}

.property-box-5 .carousel-indicators .active {
    background: #043C86;
}

li.active.btn.filtr-button.filtr {
    color: #043C86!important;
}

.banner .slider-mover-left:hover{
    background: #043C86;
    color: #fff;
    border: solid 1px #043C86;
}

.banner .slider-mover-right:hover{
    background: #043C86;
    color: #fff;
    border: solid 1px #043C86;
}

.filteriz-navigation li:hover{
    color: #043C86;
}

.change-view-btn {
    color: #043C86;
    border: solid 1px #043C86;
}

.change-view-btn:hover {
    border: solid 1px #043C86;
    background: #043C86;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #043C86;
}

.active-view-btn {
    background: #043C86;
    border: solid 1px #043C86;
}

.active-view-btn:hover {
    border: solid 1px #043C86;
    color: #043C86;
}

.show-more-options, .show-more-options:hover {
    color: #043C86 !important;
}

.form-content-box .footer span a {
    color: #043C86;
}

.blog-1 .post-meta ul li a:hover {
    color: #043C86;
}

.pagination > li > a:hover {
    background: #043C86 !important;
    color: #fff;
}

.pagination > li > .active {
    background: #043C86;
}

.read-more {
    color: #043C86;
}

.partners .slick-arrow-buton:hover{
    color: #fff;
    background: #043C86;
    opacity: 1;
}

.blog-1 .detail h3 a:hover {
    color: #043C86;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #043C86;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #043C86;
}

.range-slider .ui-widget-header {
    background-color: #043C86;
}

.posts-by-category ul li a:hover {
    color: #043C86;
}

.tags-box ul li a:hover {
    border: 1px solid #043C86;
    background: #043C86;
}

.latest-tweet a {
    color: #043C86;
}

.slider-btn-l i {
    color: #043C86;
}

.min-value {
    color: #043C86;
}

.max-value {
    color: #043C86;
}

.slider-btn-r i {
    color: #043C86;
}

.comment-meta a {
    color: #043C86;
}

.comment-meta a:hover {
    color: #043C86;
}

.blog-tags a:hover {
    border: 1px solid #043C86;
    background: #043C86;
    color: #fff;
}

.about-text ul li i {
    color: #043C86;
}

.breadcrumbs li a:hover {
    color: #043C86;
}

.helping-center ul li i {
    color: #043C86;
}

.my-account-box ul li a:hover {
    color: #043C86;
}

.my-account-box ul li a.active {
    color: #043C86;
}

.my-account-box .title::after {
    background-color: #043C86;
}

.photoUpload {
    background: #043C86;
}

.btn-6:before {
    background: #043C86;
}

.typography-page mark.color {
    background-color: #043C86;
}

.my-properties table tbody tr td a:hover {
    color: #043C86;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #043C86;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #043C86;
    background-color: #043C86;
}

.numbered.color ol > li::before {
    border: 1px solid #043C86;
    color: #043C86;
}

.widget-link:hover {
    color: #043C86;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #043C86;
}

.property-box-2 .detail .title a {
    color: #043C86;
}

.compare-properties .detail .title a{
    color: #043C86;
}

.property-box-2 .footer ul li a:hover {
    color: #043C86;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #043C86;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #043C86;
}

.view-all ul li a:hover {
    background: #043C86;
    color: #fff;
}

.map-marker:hover {
    background-color: #043C86;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #043C86 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #043C86;
}

.map-marker.featured:hover:before {
    border-color: #043C86 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #043C86;
}

.property-info .property-info-inner .for-sale{
    background: #043C86;
}

.property-info .property-info-inner h2 span{
    color: #043C86;
}

.marker-active .map-marker {
    background-color: #043C86;
}

.get-in-touch .get-in-touch-box i:hover{
    color: #043C86!important;
}

.marker-active .map-marker:before {
    border-color: #043C86 transparent transparent transparent;
}

.map-properties .address i {
    color: #043C86;
}

.map-properties-btns .border-button-theme {
    color: #043C86 !important;
}

.map-properties .map-content h4 a {
    color: #043C86;
}

.dropzone-design:hover {
    border: 2px dashed #043C86;
}

@media (max-width: 992px) {
    .ss2{
        background: #043C86;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #043C86;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #043C86 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #043C86 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

.main-title-4 h1 span{
    color: #043C86;
}

.main-title-3 h1 span {
    color: #043C86;
}

.navbar-light .navbar-toggler {
    background: #043C86;
}

@keyframes pulse {
    0%, 100% {
        background-color: #043C86;
    }
    50% {
        background-color: #043C86;
    }
}

/** Top header **/
.top-header {
    background-color: #043C86;
}

.top-header .top-social-media li a:hover {
    background: #043C86;
}

#top-header-2::after {
    background: #043C86;
}

.top-header-3 .top-header-inner .top-contact-item i {
    color: #043C86;
}

.top-header-3 .top-header-inner .top-contact-item p {
    color: #043C86;
}

/** Main header **/
.main-header .dropdown-menu a:hover {
    color: #043C86;
}

#main-header-1 .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #043C86;
    border-bottom: solid 3px #043C86;
}

#main-header-1 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #043C86;
    border-bottom: solid 3px #043C86;
}

#main-header-3 .navbar-expand-lg .active .nav-link {
    color: #043C86;
}

#main-header-4 .header-right {
    background: #043C86;
}

#main-header-4 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #043C86!important;
    border-bottom: solid 3px #043C86;
}

#main-header-4 .navbar-expand-lg .active .nav-link{
    color: #043C86!important;
    border-bottom: solid 3px #043C86;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon {
    color: #043C86;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon:hover {
    color: #043C86!important;
}

#main-header-6{
    background: #043C86;
}

#main-header-1 .btn-5:before {
    background: #043C86;
}

#main-header-1 .btn-5:after{
    background: #043C86;
}

#main-header-1 .btn-5 {
    border: 1px solid #043C86!important;
    color: #043C86!important;
}

/** Media **/
@media (min-width: 180px){
    .main-header-5.header-shrink {
        background: #043C86!important;
    }

    .main-header-5.header-shrink .header-inner {
        background: #043C86!important;
    }
}

@media (min-width: 992px){
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #043C86!important;
    }

    #main-header-5.header-shrink .navbar-expand-lg .navbar-nav .h-icon  {
        color: #043C86;
    }

    #main-header-5 .navbar-expand-lg .navbar-nav .h-icon:hover {
        color: #043C86!important;
    }

    #main-header-6.header-shrink .navbar-expand-lg .navbar-nav .h-icon  {
        color: #043C86;
    }

    #main-header-6 .navbar-expand-lg .navbar-nav .h-icon:hover {
        color: #043C86!important;
    }
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:#043C86!important;
    }

    .main-header-5 {
        background: #043C86!important;
    }

    .main-header-5 .header-inner {
        background: #043C86!important;
    }

    #main-header-6 {
        background: #043C86!important;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#043C86;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:#043C86 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:#043C86 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:#043C86;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media all and (min-width: 992px) {
    .header-with-top2.sticky-header{
        background: #043C86;
    }
}